<%= form_with model: @record, id: 'new_record', local: true do |form| %>

    <%= render 'shared/error_messages', model: form.object %>

      <div class="field">
        <%= form.label :image, "症状の画像" %><br />
        <div id="previews"></div>
        <div class="click-upload">
          <%= form.file_field :image %>
        </div>
      </div>

      <div class="field">
        <%= form.label :onset_date, "発症日" %><br />
        <%= form.date_field :onset_date %>
      </div>

      <div class="field">
        <%= form.label :onset_time, "発症した時刻" %><br />
        <%= form.number_field :onset_time, in: 0..23 %>時頃
      </div>

      <div class="field">
        <%= form.label :bodyparts, "発症した部位" %><br />
        <%= collection_check_boxes(:record, :bodypart_ids, Bodypart.all, :id, :bodypart) do |b| %>
        <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>

      <div class="field">
        <%= form.label :symptoms, "症状" %><br />
        <%= collection_check_boxes(:record, :symptom_ids, Symptom.all, :id, :symptom) do |b| %>
        <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>

      <div class="field">
        <%= form.label :visit_date, "病院へ行った日" %><br />
        <%= form.date_field :visit_date %>
      </div>

      <div class="field">
        <%= form.label :hospital_name, "病院名" %><br />
        <%= form.text_field :hospital_name %>
      </div>

      <div class="field">
        <%= form.label :diagnosis, "診断された病名" %><br />
        <%= form.text_field :diagnosis %>
      </div>

      <div class="field">
        <%= form.label :cause, "診断された原因" %><br />
        <%= form.text_field :cause %>
      </div>

      <div class="field">
        <%= form.label :prescription_drug, "処方された薬" %><br />
        <%= form.text_field :prescription_drug %>
      </div>

      <div class="field">
        <%= form.label :remission_date, "寛解日" %><br />
        <%= form.date_field :remission_date %>
      </div>

      <div class="field">
        <%= form.label :memo, "メモ" %><br />
        <%= form.text_area :memo %>
      </div>

      <%= form.submit "保存する" %>
<% end %>