<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、<a href="/users/<%= current_user.id %>" class="greeting__link"><%= current_user.nickname %>さん
      </div>
    <% end %>
  </div>
  <div class="card__wrapper">
    <%= render partial: "record", collection: @records %>
  </div>
</main>

<%= link_to(new_record_path, class: 'record-btn') do %>
  <span class='record-btn-text'>記録する</span>
  <%= image_tag 'icon_pencil.png', size: '185x50', class: "record-btn-icon" %>
<% end %>