<div class="record-show">
  <div class="record-box">
    <div class="record-img-content">
      <%= image_tag @record.images[0], class: "main-image" %><br>
        <% @record.images[1..-1].each do |image| %>
          <div class="other-images">
            <%= image_tag image, class: "main-image" %>
          </div>
        <%end%>
    </div>

    <% if user_signed_in? && current_user.id == @record.user_id %>
      <div class="record__manage">
        <%= link_to "編集", edit_record_path(@record.id), method: :get, class: :record__btn %>
        <%= link_to "削除", record_path(@record.id), method: :delete, class: :record__btn %>
      </div>
    <% end %>

    <% if user_signed_in? && current_user.id != @record.user_id %>
      <%= link_to "保存する", "#", class: :record__btn %>
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-record">投稿者</th>
          <td class="detail-value"><a href="/users/<%= @record.user.id %>"><%= @record.user.nickname %></a></td>
        </tr>
        <tr>
          <th class="detail-record">発症日時</th>
          <td class="detail-value"><%= @record.onset_date %> / <%= @record.onset_time %>時頃</td>
        </tr>
        <tr>
          <th class="detail-record">発症部位</th>
          <td class="detail-value"><%= @record.bodypart %></td>
        </tr>
        <tr>
          <th class="detail-record">症状</th>
          <td class="detail-value"><%= @record.symptom %></td>
        </tr>
        <tr>
          <th class="detail-record">病院へ行った日</th>
          <td class="detail-value"><%= @record.visit_date %></td>
        </tr>
        <% if user_signed_in? && current_user.id == @record.user_id %>
          <tr>
            <th class="detail-record">病院名</th>
            <td class="detail-value"><%= @record.hospital_name %></td>
          </tr>
        <% end %>
        <tr>
          <th class="detail-record">診断された病名</th>
          <td class="detail-value"><%= @record.diagnosis %></td>
        </tr>
        <tr>
          <th class="detail-record">診断された原因</th>
          <td class="detail-value"><%= @record.cause %></td>
        </tr>
        <tr>
          <th class="detail-record">処方された薬</th>
          <td class="detail-value"><%= @record.prescription_drug %></td>
        </tr>
        <tr>
          <th class="detail-record">寛解日</th>
          <td class="detail-value"><%= @record.remission_date %></td>
        </tr>
        <tr>
          <th class="detail-record">メモ</th>
          <td class="detail-value"><%= @record.memo %></td>
        </tr>
      </tbody>
    </table>
    <%# コメント欄 %>
    <div class="record__comments">
      <% if user_signed_in? %>
        <%= form_with(model: [@record, @comment], local: true) do |form| %>
          <div class="field">
            <%= form.label :text, "コメント" %><br />
            <%= form.text_area :text, class: :comment_content %>
          </div>
          <div class="actions">
            <%= form.submit "送信する", class: :form__btn %>
          </div>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <ul class="comments_lists">
        <% @comments.each do |comment| %>
          <li class="comments_list">
            <p>
              <%= comment.text %>
              <%= link_to "[#{comment.user.nickname}]", "/users/#{comment.user_id}", class: :comment_user %>
              <%= l comment.created_at %>
              <% if current_user.id == comment.user_id %>
                <%= link_to "削除", record_comment_path(comment.id), method: :delete, class: :comment_btn %>
              <% end %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
    <%# /コメント欄 %>
  </div>
</div>